
.researchbutton {
    background-color: #cd4b13 !important;
    color: #fff !important;
}
.researchbutton:hover {
    background-color: white !important;
    color: #cd4b13 !important;
}

.GroupInfoContainer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    flex-direction: row;
    gap: 2em;
}


@media screen and (max-width:768px) {

    .GroupInfoContainer {
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        /* align-items: center;  */
        flex-direction: column;
        gap: 2em;
    }
    
}



.ResearchpanelContainer {
    margin-top: 1em;
    margin-left:10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(-120deg,white,rgb(250, 224, 224));
}
.insideResearchContainer {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:1vw;
    margin-right: 2vw;
}

.newsandannouncements li {
    margin-top: 0.5em !important;
    /* border-bottom: 2px solid  gray;  */
    margin-bottom: 0.8em !important;
    font-size: 15px;
}

.newlogo {
    animation: blinker 1s linear infinite !important;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

