
.researchbutton {
    background-color: #cd4b13 !important;
    color: #fff !important;
}
.researchbutton:hover {
    background-color: white !important;
    color: #cd4b13 !important;
}

.ResourceLinkcontainer {
    background-color: whitesmoke;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}


.resourceHeadingMain {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 900;
    color: #0064b1;
    margin-top: 0.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",-apple-system,sans-serif;
    text-align: center;
    align-items: center;
}


.ResourceCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}
