.nounderline {
    text-decoration: none !important
}

body {
    padding-top: 70px;
}

.required label:after {
    color: #e32;
    content: '*';
    display: inline;
}

.vcenter {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}

.table-double-striped
tr:nth-child(4n+1), tr:nth-child(4n+2) {
    background: #f9f9f9;
    margin-bottom: 5px;
}

/* Anderenfalls werden im Print-Modus alle Linktexte ausgedruckt */
@media print {
    @page {
        size: landscape;
    }

    body {
        padding-top: 0;
        background: white;
        font-size: 10pt;
        width: auto;
        margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
    }

    a[href]:after {
        content: '';
    }

    h1 {
        font-size: 14pt;
        font-weight: bold;
    }

    h2 {
        font-size: 12pt;
        font-weight: bold;
    }

    h3 {
        font-size: 11pt;
    }

    h4 {
        font-size: 10pt;
    }

    /* show all accordions */
    .collapse {
        display: block !important;
        height: auto !important;
    }

}

.bg-gray {
    background-color: whitesmoke;
}

.bg-white {
    background-color: white;
}

.button-100 {
    width: 100px !important;
}

/* http://www.bootply.com/88286 */
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    float: left; /* adjust as needed */
    color: grey; /* adjust as needed */
    text-decoration: none;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: left; /* adjust as needed */
    color: grey; /* adjust as needed */
    margin-right: 2em;

}

.custom-rating-container .star-rating {
    display: inline;
}

.rating-disabled {
    cursor: auto;
}

/* put space below */
.vspace {
    margin-bottom: 2px;
}

.vspace1 {
    margin-bottom: 5px;
}

.vspace2 {
    margin-bottom: 10px;
}

.vspace3 {
    margin-bottom: 15px;
}

.vspace4 {
    margin-bottom: 30px;
}

.vspace5 {
    margin-bottom: 40px;
}

.vspace6 {
    margin-bottom: 60px;
}

.vspace7 {
    margin-bottom: 80px;
}

.vspace8 {
    margin-bottom: 100px;
}

.vspace9 {
    margin-bottom: 150px;
}

.ok {
    color: limegreen;
    background: white
}

.fail {
    color: red;
    background: white
}

/* additional colors appliciable with label-yellow, see http://www.bootply.com/112999*/
/* http://stackoverflow.com/questions/21725557/additional-twitter-bootstrap-label-button-alert-badge-colors */
[class*='-dark'] {
    background-color: #02243C;
    color: #f0f0f0;
}

[class*='-light'] {
    background-color: #f9f9f9;
    color: #999;
}

[class*='-blue'] {
    background-color: #5195ce;
    color: #fff;
}

[class*='-apple'] {
    background-color: #005DB3;
    color: #f8f8f8;
}

[class*='-red'] {
    background-color: #ff4645;
    color: #f8f8f8;
}

[class*='-black'] {
    background-color: #555555;
    color: #f8f8f8;
}

[class*='-gray'] {
    background-color: #e6e6e6;
    color: #666;
}

[class*='-green'] {
    background-color: #5BC236;
    color: #fff;
}

[class*='-gold'] {
    background-color: #ffd700;
    color: #000;
}

/* hover and active */
/* missing for red, black, ... */
[class*='-dark']:hover, [class*='-dark']:focus {
    background-color: #12254d;
    color: #fff;
}

[class*='-light']:hover, [class*='-light']:active {
    background-color: #eeeeee;
    color: #fff;
}

[class*='-blue']:hover, [class*='-blue']:active {
    background-color: #62a6df;
    color: #fff;
}

[class*='-apple']:hover, [class*='-apple']:active {
    background-color: #116ec4;
    color: #fff;
}

[class*='-gray']:hover, [class*='-gray']:active {
    background-color: #d5d5d5;
    color: #fff;
}

[class*='-green']:hover, [class*='-green']:active {
    background-color: #6cd347;
    color: #fff;
}

[class*='-gold']:hover, [class*='-gold']:active {
    background-color: #ffe34c;
    color: #fff;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.label-filter {
    background-color: #d5d5d5;
    border-radius: .25em;
    color: initial;
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: .2em .6em .3em;
}

.list-filter {
    margin: 0;
}

@media print {

    .editable-click, a.editable-click, a.editable-click:hover {
        border-bottom: none;
    }

}

.label-md {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}

.table-condensed > tbody > tr > td.contains-bid-label {
    padding: 10px 5px;
}

#logo-cm {
    height: 30px;
    margin-top: -10px;
}

.alternate li:nth-child(odd) {
    background: whitesmoke;
}

.alternate li {
    list-style-type: none;
}

.banner {
    max-height: 200px;
}